<launch>
    <arg name='port_arduino' default='/dev/rosserial_arduino' />
    <arg name='baud_arduino' default='57600' />

    <arg name='port_teensy' default='/dev/rosserial_teensy' />
    <arg name='baud_teensy' default='57600' />

    <group ns='rosserial'>
        <node pkg='robotic_sas_auv_ros' type='node_arduino.py' name='node_arduino' output='screen'>
            <param name='port_arduino' value='$(arg port_arduino)'/>
            <param name='baud_arduino' value='$(arg baud_arduino)'/>
        </node>

        <node pkg='robotic_sas_auv_ros' type='node_teensy.py' name='node_teensy' output='screen'>
            <param name='port_teensy' value='$(arg port_teensy)'/>
            <param name='baud_teensy' value='$(arg baud_teensy)'/>
        </node>
    </group>
</launch>
