<launch>
    <arg name='port' default='/dev/ttyACM0' />
    <arg name='baud' default='57600' />

    <group ns='arduino'>
        <node pkg='rosserial_python' type='serial_node.py' name='node_serial' output='screen'>
            <param name='port' value='$(arg port)'/>
            <param name='baud' value='$(arg baud)'/>
        </node>
    </group>

    <arg name='pwm' default='100' />
    <arg name='duration' default='5' />
    <arg name='movement' default='surge' />

    <group ns='nuc'>
        <param name='pwm' value='$(arg pwm)'/>
        <param name='duration' value='$(arg duration)'/>
        <param name='movement' value='$(arg movement)'/>

        <node pkg='robotic_sas_auv_ros' type='node_test_thruster.py' name='node_test_thruster' output='screen'/>
    </group>
</launch>